@model MeetingPlanner.Models.ViewModels.MeetingDetailsData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Bishopric.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.Bishopric.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
    </dl>

    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Events)
        {
            <dt>
                @Html.DisplayFor(modelItem => item.Title)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Description)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Meeting.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
